<div class="mb-3">
  <label for="disabled" class="form-label">#{{ aluno.id }} </label>
  <input class="form-control active" placeholder="Id" [(ngModel)]="aluno.id" id="disabled" type="text">
</div>
<div class="mb-3">
  <label for="nome" class="form-label">Nome</label>
  <input type="text" class="form-control active" id="nome" placeholder="Digite seu nome" [(ngModel)]="aluno.nome">
</div>
<div class="mb-3">
  <label for="email" class="form-label">email</label>
  <input type="text" class="form-control active" id="email" placeholder="example@gmail.com" [(ngModel)]="aluno.email">
</div>
